<%- include ('./partials/header.ejs') %>


<main class="container">
   <div class="title-container">
    <h1 class="h1-container">Détails de <%=poke.nom%></h1>
</div> 
<div class="detail-container">
<div class="img-poke">
    <img src="/img/<%=poke.numero%>.png" alt="<%=poke.nom%>">
</div>
    <div class=" détail">
<h2># <%= poke.numero%> <%= poke.nom%></h2>
 <h3> <%=poke.type %></h3> 
 
 <div class="statistiques">
<h3>Statistiques</h3>
<div class="progress">
<div class="label_progress">
<label for="file">Pv  </label>
<%= poke.pv%>
<progress id="file"  max="100" value=<%= poke.pv%>>70%</progress></div>
<br>
<div class="label_progress">
<label for="file">Attaque  </label>
<%= poke.attaque%>
<progress id="file"  max="100" value=<%= poke.attaque%>>70%</progress></div><br>

<label for="file">Défense <%= poke.defense%> </label>

<progress id="file"  max="100" value=<%= poke.defense%>>70%</progress><br>

<label for="file">Attaque Spé <%= poke.attaque_spe%> </label>

<progress id="file"  max="100" value=<%= poke.attaque_spe%>>70%</progress><br>

<label for="file">Défense spé <%= poke.defense_spe%> </label>

<progress id="file"  max="100" value=<%= poke.defense_spe%>>70%</progress><br>
<label for="file">Vitesse<%= poke.vitesse%> </label>

<progress id="file"  max="100" value=<%= poke.vitesse%>>70%</progress><br>
</div>
</div>
</div>


</div>
</main>
